backend/data/CLIP-features/
backend/data/images/
backend/data/image/
backend/data/imgInput/
backend/data/newFeatures/
backend/data/map-keyframes/
backend/data/remove/
backend/faiss_normal_ViT.bin
backend/utils/__pycache__/
backend/filterobj/__pycache__/
backend/data/.DS_Store
backend/pre_faiss_normal_ViT.bin
backend/demo.py
backend/test.py
backend/.env

logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/public/images/

frontend/.vscode/*
frontend/.idea/
frontend/.DS_Store
