data/CLIP-features/
data/CLIP-features2-L04/
data/images/
data/image/
data/newFeatures/
data/remove/
faiss_normal_ViT.bin
utils/__pycache__/faiss.cpython-311.pyc
utils/__pycache__/query_processing.cpython-311.pyc
__pycache__/mapping.cpython-311.pyc
filterobj/__pycache__/filterobj.cpython-311.pyc
__pycache__/
data/.DS_Store
pre_faiss_normal_ViT.bin
demo.py
test.py
.env